# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env/
.venv/
env/
venv/
sentiment_env/
*.egg-info/

# Data
data/raw/
data/processed/*.pkl
*.csv

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Output
*.html
*.pdf
*.png

#chunk files
*.npy
chunks/
RoBERTaChunks/
distilbertChunks/

#models
models/*.pkl

# Results (optional if you prefer to only commit final versions)
results/*.csv
results/*.json